        *{
            margin: 0;
            padding: 0;
        }
        body{
            width: 1920px;
            height: 6055px;
            position: absolute;  /* 设置为绝对定位 */
            top: 0;            /* 设置垂直方向为 50% */
            left: 50%;           /* 设置水平方向为 50% */
            transform: translateX(-50%);
        }
.top_outer{
    width: 1920px;
    height: 1428px;
    background: linear-gradient(90deg, #934BFF, #5F3AFC);
}
.banner-left{
    background: linear-gradient(-67deg, #934BFF, #5F3AFC);
}
.banner-right{
    background: linear-gradient(90deg, #934BFF, #5F3AFC);
}
.opacity-border{
    border: 1px solid #5F3AFC;
}
.trapezoid {
    width: 1920px;           /* 上底宽度 */
    height: 1149px;          /* 高度 */
    background-color: lightblue; /* 背景颜色 */
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%); /* 设置梯形路径 */
}
.body-center {
    width: 1920px;
    height: 441px;
    background: linear-gradient(90deg, #934BFF, #5F3AFC);
}
.boxShadow{
    box-shadow: 0px 15px 24px 0px rgba(23,3,79,0.1);
}
.body-center-bottom{
    width: 1920px;
height: 588px;
background: linear-gradient(90deg, rgba(147,75,255,0.75), rgba(95,58,252,0.75));
}
.suoyou{
    width: 119px;
height: 48px;
background: #663CFC;
box-shadow: 0px 6px 24px 0px rgba(116,65,253,0.5);
border-radius: 24px;
line-height: 48px;
text-align: center;
color: #FFFFFF;
}

.body-bottom{
    width: 1920px;
height: 992px;
background: linear-gradient(90deg, #934BFF, #5F3AFC);
}
.body-bottom-white{
    width: 1920px;
height: 451px;
background: white;
z-index: 2;
clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%); /* 设置梯形路径 */
}
